body{
    margin: 0;
    background: #505050;
}

@font-face {
    font-family: Marvel;
    src: url("Marvel.ttf");
}
h1, h2, h3, .foot{
    font-family: Marvel;
    letter-spacing: 3px;
    color: #ffffff;
    margin: 0;
}

p{
    margin: 0;
    color: #ffffff;
}

.header{
    font-size: clamp(1.25rem, 5vw, 2rem);
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    text-align: center;
    text-shadow: 3px 3px 3px #ED1D24;
    color: white;
    display: inline;
    margin: 0;
}

.foot{
    font-size: 1.25rem;
    width: 100%;
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.foot a{
    transform: scale(.5) translateX(-40px);
}

@media(min-width: 800px){
    .body-wrapper{
        margin: 0 auto;
        width: fit-content;
        height: 100%;
    }
    
    form{
        background: #1d1e1f;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 50px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }
    .card{
        max-width: 100%;
        width: 800px;
        height: 500px;
        perspective: 1000px;
        background: transparent;
    }
    
    .card-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }
    
    .card-front, .card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #1d1e1f;
        backface-visibility: hidden;
    }
    
    .card-back{
        transform: rotateY(180deg);
    }
    
    .card:hover .card-wrapper{
        transform: rotateY(180deg);
    }
    
    input, button{
        background: transparent;
        color: white;
        border: 1px solid white;
        font-size: 1.35rem;
    }
    input{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    input:focus{
        outline: none;
    }
    button{
        border-top-right-radius: 5px;
        background: #ED1D24;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

}

@media(max-width: 800px){
    .body-wrapper{
        margin: 0;
        height: 100%;
        width: 100%;
    }
    
    form{
        background: #1d1e1f;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }
    .card{
        max-width: 100%;
        background: #1d1e1f;
    }
    
    .card-wrapper{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .card-front, .card-back{
        width: 100%;
        height: 100%;
        padding: 20px 0;        
    }
    
    
    input, button{
        background: transparent;
        color: white;
        border: 1px solid white;
        font-size: 1.35rem;
    }
    input{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    input:focus{
        outline: none;
    }
    button{
        border-top-right-radius: 5px;
        background: #ED1D24;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }
}
